[submodule "polygon/lib/forge-std"]
	path = polygon/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "polygon/lib/openzeppelin-contracts"]
	path = polygon/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
